.DS_Store
.editor-config
.env
.env.test
.eslintcache
.idea
.npm
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/unplugged
build
jspm_packages/
node_modules/
yarn-debug.log*
yarn-error.log*
build.tar.gz
