body {
  text-align: left;
  background: #0e0001fc;
  color: #dededee0;
  font-family: monospace;
}

p {
  font-size: 19px;
  line-height: 2;
  padding-top: 0px;
  padding-bottom: 6px;
}

h1 {
  color: mediumvioletred;
}

.AppHeader {
  text-align: center;
}

.App {
  margin: auto;
  padding: 20px;
  text-align: left;
  width: 85%;
  max-width: 720px;
}

.AppTitle {
  color: yellow;
}

.MenuItem {
  color: #aa9b9b;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

.PostsContainer {
}

.Post {
  background: #2d2871f0;
  border-radius: 10px;
  border: 1px #000 solid;
  color: darkorchid;
  cursor: pointer;
  line-height: 1.8;
  margin-top: 15px;
  outline: none;
  padding: 0 0 0px 10px;
  white-space: pre-line;
}

.PostTitle {
  color: yellowgreen;
  font-weight: bold;
}

.PostBody {
  color: orchid;
}

.QuotedList {
  font-style: italic;
}
